body {
	padding: 1em;
}

.header-container {
	text-align: center;
	background-color: lightSkyBlue;
	padding: 8px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.header {
	font-family: "Fira Mono Regular", consolas;
	margin-bottom: 0px;
}

.sub-header {
	color: #555;
	font-size: 1.2em;
	letter-spacing: 3px;
}

.nav {
	background-color: #64B5F6;
	border-top: 4px solid #90CAF9;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 10px; 


}

.nav>ul {
	list-style: none;
	padding-left: 10px;
}

.nav>ul>li {
	padding: 8px;
	background-color: #007bff;
	color: white;
	display: inline;
	border-radius: 5px;
}